.wy-nav-content {
    max-width: 95% !important;
}
/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
div.highlight-python {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}
div.highlight {
    background-color: #ffe4b5;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}
td p {
    margin: 30px 0; /* between paragraphs */
    color: #2f4f4f;
}
div.body p, div.body dd, div.body li {
    font-size: 150%;
}
